
.item-type-panel.--show {
    display: block;
}

.item-type-panel{ 
    display: none;
    position: absolute;
    padding: 10px;
    border:1px solid white;
    z-index: 9999;
    background: #254B7F;
}
