<div fxLayout="column" fxLayoutAlign="space-between" [style.width.px]="page.width" [style.minHeight.px]="268" (dblclick)="addItem($event)" (clickOutside)="makeNotActive($event)" (mousedown)="makeActive()" [ngClass]="{'page':true, '--active':page.isActive, 'can-add-item': true}">
    <div>
        <div  [id]="page.htmlId + '__title'" class="page__title">
            <input type="text" class="title-item" [value]="page.title"/>
        </div>
        <div class="page__items">
            <div *ngFor="let item of page.items">
            <app-input-item fxFlex (enterPressed)="addItem()" (onEmptyField)="removeEmptyItem(item.htmlId)" [htmlId]="item.htmlId" [type]="item.type" [title]="item.title"></app-input-item>
            </div>
        </div>
    </div>
    <div class="can-add-item" fxLayoutAlign="end">
        <button [ngClass]="'page__add-item'" (click)="addItem()" mat-mini-fab>+</button>
    </div>
</div>