<div [style.width.px]="page.width" [style.minHeight.px]="268" (dblclick)="addItem($event)" (clickOutside)="makeNotActive($event)" (mousedown)="makeActive()" [ngClass]="{'page':true, '--active':page.isActive, 'can-add-item': true}">
    <div>
        <div class="page__title">
            <input #pageTitle type="text" class="title-item" [(ngModel)]="page.title"/>
            <div (click)="deletePage()" class="page__delete-button">X</div> 
        </div>
        <div #itemsContainer class="page__items">
          <sortable [listStyle]="sortableSettings" [items]="page.items" [name]="'List'" (dragStarted)="disableDragging()" (listSorted)="enableDragging()">
            <ng-template let-item>
              <app-input-item (onRemove)="onItemRemove($event)" (enterPressed)="addItem()" (onEmptyField)="removeEmptyItem(item.htmlId)" [item]="item"></app-input-item>
            </ng-template>
          </sortable>
        </div>
    </div>
    <div class="can-add-item add-item-panel">
        <button class="page__add-item round-button big-button" (click)="addItem(null)">+</button>
    </div>
</div>

<!--//(sortStarted)="disableDragging()" (sortStopped)="enableDragging()"-->
