.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.85;
    z-index:1;
    border-radius: 5px;
}

.page__add-item {
  width: 46px;
  height: 46px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  background: url('/assets/fab_button.svg') 0 0 no-repeat transparent;
  cursor: pointer;
}

.page__title { 
    height: 35px;
    display: flex;
    flex-direction: row;
}

.add-item-panel {
    display: flex;
    justify-content: flex-end;
}

.page.--active{
    opacity: 1;
    z-index: 2;
}

.page__items{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow:1;
}

.jtk-drag {
  cursor: move;
}

.page__delete-button {
    width: 30px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}


.title-item{ 
    border: none;
    margin-left: 6px;
    outline: none;
    width: 191px;
    font-weight:bold;
    font-size: 11px;
    text-overflow:ellipsis;
    white-space: nowrap;
    background: transparent;
}
