.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.7;
    z-index:1;
}

.page__title { 
    height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.add-item-panel {
    display: flex;
    justify-content: flex-end;
}

.page.--active{
    opacity: 1;
    z-index: 2;
}

.page__items .sortable-header {
  display:none;
}

.page__items{
    display: flex;
    flex-direction: column;
}

.jtk-drag {
  cursor: move;
}

.page__delete-button {
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.mat-mini-fab.page__add-item .mat-button-wrapper {
    color: #FFF;
    font-size: 20px;
}

.title-item{ 
    border: none;
    margin-left: 4px;
    outline: none;
    width: 191px;
    overflow:ellipsis;
    white-space: nowrap;
    background: transparent;
}
