

.icon { 
    padding: 3px;
    margin: 1px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon:hover{ 
    background-color: #00000012;
}

.app-state-container{ 
    position: fixed;
    right: 31px;
    display: flex;
    bottom: 110px;
    flex-direction: column;
}

.app-state-container button {
    display: flex;
    justify-content: center;
}

.app-state-container button svg { 
    width: 35px;
    margin-right: 3px;
}

.state-dialog-control-buttons{ 
    display: flex;
    justify-content: flex-end;
}

.state-dialog-control-buttons button{ 
    margin: 1px 3px;
}

.app-state__save {
    cursor: pointer;
}

.validation-error {
    color: red;
    font-size: 10px;
}

.save-dialog{ 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 150px;
    flex-direction: column;
}