
.main-canvas {
    width: 100%;
    height: 100%;
}

.add-page-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    color: #FFF;
}

#pages {
    width: 1300px;
    height: 1300px;
}