
.main-canvas {
    background-color: #254B7F;
    height: 100%;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.right-bottom-main-panel {
    position:fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
}

.right-bottom-main-panel > *{ 
    margin-top: 10px;
}

.zoom-in-button, .zoom-out-button { 
    display: flex;
    justify-content: center;
}

#pages-wrapper { 
    background: url("/assets/white-dots.png") repeat 0 0 transparent;
    height: 100%;
}
.zoom-reset-button {
    font-size: 30px;
    font-weight: bold;
}

#pages {
    width: 100%;
    display: flex;
    flex-direction:row;
}

.export-state-link{ 
    visibility: hidden;
}

.import--hidden { 
    visibility: hidden;
    width:1px;
}

app-page{ 
    position: absolute;
}


.cache{ 
    display: none;
}
