<div class="main-canvas">
    <app-item-context-menu></app-item-context-menu>
    <div (dblclick)="addPage($event)" id="pages-wrapper">
        <div *ngIf="pages" id="pages" class="pages">
            <app-page (pageDeleted)="onPageDelete($event)" [style.top.px]="page.y" [style.left.px]="page.x" [page]="page" *ngFor="let page of pages">
            </app-page>
        </div>
    </div>
    <ngx-snackbar [position]="'top-center'" [max]="3"></ngx-snackbar>
    <div class="right-bottom-main-panel">
        <button (click)="export()" class="round-button very-big-round-button">
            <img width="60" height="60" src="/assets/export.svg"/>
            <a class="export-state-link" #downloadLink href="#"></a>
        </button>  
        <button (click)="importApp.click()"  class="round-button very-big-round-button">
            <img width="60" height="60" src="/assets/import.svg"/>
        </button>
        <button (click)="addPage(null)" class="add-page-button round-button very-big-round-button">+</button>
        <input (change)="import($event)" value="" accept="application/json" class="import--hidden" #importApp name="file" type="file"/>
    </div>
</div>
