.input-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.input-item:hover .line {
  display: block;
}


.input-icon {
  cursor: pointer;
}

.item-anchor {
    width: 10px;
    height: 5px;
    background: white;
    z-index: 9999;
    display: block;
    cursor: pointer;
    right: -6px;
    position: absolute;
}

.item-remove{ 
    cursor: pointer;
    z-index: 9999;
    right: 15px;
    position: absolute;
}


.input-item__textarea {
    outline: none;
    border: none;
    overflow: hidden;
    height: auto;
    width: 150px;
    resize: none;
    background: transparent;
}

app-input-item{
    display: flex;
}

.item-sortable-icon{ 
    width: 15px;
    height: 18px;
    cursor: pointer;
    margin-right: 3px;
    display: flex;
    margin-left: 8px;
    flex-direction:column;
    justify-content: space-around;
}

.line {
    background-color: #FFF;
    height: 2px;
    width: 20px;
    display: none;
}

