.input-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0 0 0 6px;
    min-height: 37px;
}

.input-icon:hover{
  cursor: pointer;
  background-color:transparent;
}

.trash-icon {
  visibility: hidden;
  cursor: pointer;
}

.input-item:hover .trash-icon {
  visibility: visible;
}

.item-remove{
    cursor: pointer;
    z-index: 9999;
    right: 15px;
    position: absolute;
}

.input-item__textarea {
    outline: none;
    border: none;
    overflow: hidden;
    height: auto;
    width: 180px;
    resize: none;
    margin-right: 10px;
    cursor: pointer;
    background: transparent;
    line-height: 20px;
}



app-input-item{
    display: flex;
}



