.input-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
}


.input-icon {
  cursor: pointer;
}

.item-anchor {
    width: 10px;
    height: 5px;
    background: white;
    z-index: 9999;
    display: block;
    cursor: pointer;
    right: -6px;
    position: absolute;
}

.item-remove{ 
    cursor: pointer;
    z-index: 9999;
    right: 15px;
    position: absolute;
}

.input-item__textarea:hover {
  background: url("/assets/menu.png") no-repeat center right transparent;

}

.input-item__textarea {
    outline: none;
    border: none;
    overflow: hidden;
    height: auto;
    width: 180px;
    resize: none;
    background: transparent;
    line-height: 20px;
}

app-input-item{
    display: flex;
}



