@keyframes pulse {
  0% {
    stroke-width: 2;
  }
  70% {
    stroke-width: 6;
  }
  100% {
    stroke-width: 2;
  }
}

.jtk-overlay .flou-template svg{
  width: 20px;
  height: 20px;
}

.jtk-connector {
  cursor: pointer;
}

.jtk-overlay:hover .label-control-buttons {
  display: flex;
}

.label-control-buttons {
  display: none;
  position: absolute;
  right:-10px;
  top:-10px;
  cursor: pointer;
}

