/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/

@import "flou.css";
@import "theme-dark.css";
@import "theme-light.css";


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100%;
}

* {
  font-family: Arial;
}

.input-item .title-item { 
  width: 100px;
  border:none;
  position: relative;
  z-index: 9999;
  outline: none;
  font-style: normal;
}


.mat-button{ 
    border: none;
    background-color: #ffaf38;
    color: white;
    user-select: none;
    padding: 10px 15px;
    margin: 0;
    text-decoration: none;
    outline: none;
    cursor: pointer;

}

.mat-button--gray { 
    background-color: #5d5d5d;
}

.mat-button:disabled{ 
    opacity: 0.6;
    box-shadow: none;
    background-color: #ffaf38;
}

.item-anchor {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 11px solid;
  border-bottom: 8px solid transparent;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: -13px;
}

.mat-button.mat-button--gray:active { 
    background-color:#3e3d3d;
}

.input-item__wrapper {
  padding:10px;
  z-index:9999;
}


.input-item {
  height: 37px;
}


.input-icon{ 
    margin-top: 10px;
    cursor: pointer;
}

.input-icon:hover{ 
    cursor: pointer;
    background-color:transparent;
}
