/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.input-item .title-item { 
    width: 100px;
    outline: none;
    border:none;
    font-style: normal;
}


.input-icon--input{ 
    display: block;
    width: 30px;
    height: 25px;
    margin-right: 4px;
    margin-left: 4px;
    background: url('./assets/input-text.svg') no-repeat 0 0 transparent;
}

.input-icon--choice{ 
    display: block;
    width: 30px;
    height: 25px;
    margin-right: 4px;
    margin-left: 4px;
    background: url('./assets/multiple.svg') no-repeat 0 0 transparent;
}

.input-icon--text{ 
    display: block;
    width: 30px;
    height: 25px;
    margin-right: 4px;
    margin-left: 4px;
    background: url('./assets/text-icon.svg') no-repeat 0 0 transparent;
}

.input-icon--button{ 
    display: block;
    width: 30px;
    height: 25px;
    margin-right: 4px;
    margin-left: 4px;
    background: url('./assets/button.svg') no-repeat 0 0 transparent;
}

.input-icon{ 
    padding: 3px;
}

.input-icon:hover{ 
    cursor: pointer;
    background-color: #f8f8f8;
}