
.main-canvas[theme="dark"] path {
  stroke: #FF8800;
  color: #FF8800;
}

.main-canvas[theme="dark"] .jtk-connector.jtk-hover path {
  stroke: red;
  color: red;
  animation: pulse 1s infinite;
}

.main-canvas[theme="dark"] .jtk-connector.jtk-hover .arrow-connector {
  fill: red;
}

.main-canvas[theme="dark"] .jtk-connector .arrow-connector{
  fill:  #FF8800;
}

.main-canvas[theme="dark"] .jtk-connector{
  overflow: visible;
  animation: none;
}

.main-canvas[theme="dark"] {
  color: #FFF;
}

.main-canvas[theme="dark"] textarea {
  color: #FFF;
}

.main-canvas[theme="dark"] .flou-palette.stroke-none {
  stroke: none;
}

.main-canvas[theme="dark"] .flou-palette.fill-none {
  fill: none;
}

.main-canvas[theme="dark"] .flou-palette {
  stroke: #FFF;
  fill: #FFF;
}

.main-canvas[theme="dark"] #pages-wrapper {
  background: url("/assets/theme-dark/dark-theme-bg.png") 0 0 repeat;
}

.main-canvas[theme="dark"] .page {
  background-color: #1e62bf;
}

.main-canvas[theme="dark"] .page__title {
  border-bottom: 2px solid #FFF;
  background-color: #FFF;
  color: #0d3163;
}

.main-canvas[theme="dark"] .trash-icon {
  width: 30px;
  height: 30px;
}

.main-canvas[theme="dark"] .jtk-connected {
  border-left-color: #ff8800;
}

.main-canvas[theme="dark"] .jtk-droppable {
  border-left-color: #b1bbc9;
}

.main-canvas[theme="dark"] .input-item__textarea:hover {
  background: url("/assets/menu-dark.png") no-repeat center right transparent;
}

.main-canvas[theme="dark"] .item-type-panel {
  background-color: #254B7F;
  border: 1px solid #FFF;
}

.main-canvas[theme="dark"] .page {
  border: 2px solid #FFF;
}

.main-canvas[theme="dark"] .input-item {
  border-bottom: 1px solid #0d3163;
}

.main-canvas[theme="dark"] .right-bottom-main-panel {
  background-color: #132339;
}
