.main-canvas[theme="light"] path{
  stroke: #000;
  color: #000;
}


.main-canvas[theme="light"] path:hover{
  stroke: red;
  fill: red;
}

.main-canvas[theme="light"] input {
  color: #000;
}

.main-canvas[theme="light"] textarea {
  color: #000;
}

.main-canvas[theme="light"] .page{
  background-color: #FFF;
}


.main-canvas[theme="light"] .flou-palette.stroke-none {
  stroke: none;
}

.main-canvas[theme="light"] .flou-palette.fill-none {
  fill: none;
}

.main-canvas[theme="light"] .input-item__textarea:hover {
  background: url("/assets/menu-light.png") no-repeat center right transparent;
}

.main-canvas[theme="light"] .flou-palette {
  stroke: #000;
  fill: #000;
}

.main-canvas[theme="light"] #pages-wrapper {
  background: url("/assets/theme-light/light-theme-bg.png") repeat 0 0 transparent;
}

.main-canvas[theme="light"] .round-button{
  color: #000;
  border: 2px solid #000;
}

.main-canvas[theme="light"] .item-type-panel {
  background-color: #FFF;
  border:1px solid #000;
}

.main-canvas[theme="light"] .page__title {
  border-bottom: 2px solid #000;
}

.main-canvas[theme="light"] .page {
  border: 2px solid #000;
}

.main-canvas[theme="dark"] .jtk-droppable.jtk-connected {
  border-left-color: #ff8800;
}

.main-canvas[theme="dark"] .jtk-droppable {
  border-left-color: #b1bbc9;
}
